html {
    --very-dark: #272b30;
    --dark: #474e57;
    --dim-text: #aaa;
    --arg-text: #ffa;
    --line-height: 1.6;
    background-color: var(--very-dark);
    color: whitesmoke;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
    padding: 1em;
    --player-scrub-progress: 0;
}
a {
    color: inherit;
}
* {
    line-height: var(--line-height);
}
hr {
    border: none;
    border-top: 1px solid #101112;
    width: 75%;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}
.col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.gap-small { gap: 4px; }
.gap-big { gap: 1em; }
.gap-section { gap: 3em; }
.dim-text { color: var(--dim-text); }

.songlist-tbl-empty { display: none; }
body[songcount="0"] .songlist-tbl { display: none; }
body[songcount="0"] .songlist-tbl-empty { display: block; }
.curr-field {
    display: inline-block;
    color: var(--dim-text);
    font-size: smaller;
    margin-right: 1ch;
}
.songlist-tbl tr td:nth-child(4) {
    text-align: center;
}
.single-line-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.yt-thumbnail {
    display: inline-block;
    vertical-align: middle;
    height: 3.5em;
    aspect-ratio: 4/3;
    margin: .25em;
    background-image: url(https://img.youtube.com/vi/bpxo0l_aaGM/mqdefault.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: revert;
}

code {
    display: inline-block;
    line-height: 1.3;
    font-family: inherit;
    background-color: #444;
    border-radius: 6px;
    padding: 0 0.32em;
}
.arg-text {
    color: var(--arg-text);
}
[data-tip] {
    position: relative;
}
[data-tip]::after {
    content: attr(data-tip);
    position: absolute;
    user-select: none;
    font-size: small;
    color: var(--arg-text);
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 100%);
}
.optional {
    background-color: #292929;
}
table {
    border-collapse: collapse;
}
table th {
    color: silver;
}
table td, table th {
    border: 1px solid #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    padding: .3em 1em;
}

table#cmds > tbody > tr > td:nth-child(1) {
    white-space: nowrap;
    overflow: visible;
}

table#cmds > tbody > tr > td:nth-child(2) {
    white-space: normal;
}

table#cmds > tbody > tr > td:nth-child(3) {
    white-space: normal;
    font-style: italic;
}

table#cmds > tbody > tr > td:nth-child(5),
table#cmds > tbody > tr > td:nth-child(6) {
    text-align: center;
}


.yt-player {
    width: 88%;
    margin: 0 auto;
}
.yt-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.player-scrub-area {
    background-color: rgb(106 141 135);
    height: 8px;
}
.player-scrub {
    background-color: rgb(54, 243, 214);
    height: 100%;
    width: calc(100 * var(--player-scrub-progress) * 1%);
}
.player-info {
    padding: 0 1rem;
    background-color: rgb(38 64 54);
}
#playerSongTitle {
    font-size: 4rem;
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
